.searchportion{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    padding-left: 6%;
    padding-right: 6%;
    height: 30px;
}

.searchbar{
    display: flex;
    gap: 8px;
    width: 90%;
    border: 1.5px solid var(--text1-color);
    padding: 5px;
    border-radius: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.filter{
    display: flex;
    width: 10%;
    border: 1.5px solid var(--text1-color);
    padding: 5px;
    border-radius: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.filter-btn{
    display: flex;
    background-color: var(--primary-color);
    cursor: pointer;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--text1-color);
    border: none;
    font-size: 14px;
    letter-spacing: 0.6px;
    font-family: var(--primary-font);
}

.filtericon{
    color: var(--text2-color);
    font-size: 18px;
}

.search-icon{
    color: var(--text2-color);
    font-size: 18px;
}

.searchtext{
    width: 100%;
    background-color: var(--primary-color);
    border: none;
    margin-left: 5px;
    font-size: 14px;
    font-family: var(--primary-font);
    font-weight: 300;
    color: var(--text2-color);
}

.searchtext:focus{
    border: none;
    outline: none;
}

@media (max-width: 992px){
    .searchportion{
        width: 91%;
        padding-left: 4%;
        padding-right: 4%;
    }
}
@media (max-width: 768px){
     .searchportion{
    padding-left: 6.5%;
    padding-right: 6.5%;
    width: 102%;
     }
}

@media (max-width: 625px){
     .searchportion{
    padding-left: 4%;
    padding-right: 4%;
    width: 109%;
}
}
@media (max-width: 512px){
    .searchportion{
    padding-left: 9%;
    padding-right: 9%;
    width: 121%;
}

}