.moviesbody{
    display: flex;
    flex-direction: column;
    color: var(--text1-color);
    margin-top: -15px;
}

.moviesbody .moviesh1{
    font-size: 40px;
    margin-bottom: -7px;
    text-align: center;
    justify-content: center;
}

.moviesbody .moviesh3{
    font-size: 14px;
    font-weight: 200;
    color: var(--text2-color);
    text-align: center;
    justify-content: center;
}

.moviesbody .favlen{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--primary-font);
    font-size: 12px;
}

.moviesbody h1, .moviesbody h3{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.moviesbody .moviesh3, .moviesh1{
     display: flex;
    font-family: var(--heading-font);
    align-items: center;
    justify-content: center;
}

.movie-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-top: 4%;
    padding-left: 80px;
    padding-right: 80px;
}

.moviesbody .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 20px;
    font-family: var(--heading-font);
    font-size: 14px;
    font-weight: 550;

}

.pagination button{
    color: var(--secondary-color);
    font-weight: 600;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    padding: 5px 8px;
    cursor: pointer;
    background-color: var(--text1-color);
}

.movie-card{
    display: flex;
    flex-direction: column;
    width: 225px;
    border: 1px solid var(--text1-color);
    border-radius: 8px;
    background-color: var(--cardbg);
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card:hover{
    transform: scale(1.05);
}

.movie-card .movie-actions{
    position: absolute;
    opacity: 0;
    transition: all 0.3s ease;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.movie-card .dateadd{
    position: absolute;
    background-color: var(--btn2-text);
    color: var(--btn1-text);
    padding: 5px;
    border-radius: 10px;
    left: 10px;
    top: -12px;
    font-size: 11px;
}
.movie-actions .addtofav{
    position: absolute; 
    top: 10px;
    right: 10px;
    border: none;
    font-size: 20px;
    padding: 5px 10px;
    align-items: center;
    border-radius: 7px;
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.3s;
    background-color: var(--primary-color);
    color: var(--text1-color);
    font-weight: 800;
}

.movie-card:hover .movie-actions{
    opacity: 1;
    pointer-events: auto;
}

.movie-actions .viewbtn{
   position: absolute; 
    bottom: 32%;
    left: 5%;
    border: none;
    font-size: 15px;
    padding: 5px 5px;
    align-items: center;
    border-radius: 7px;
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.3s;
    background-color: var(--primary-color);
    color: var(--text1-color);
    width: 90%;
    border: 1px solid var(--text1-color);
    font-family: var(--heading-font);
}

.light-theme .movie-actions .viewbtn{
    color: var(--btn1-text);
}

.viewbtn:hover{
    color: var(--btn2-text);
    border-color: var(--text2-color);
}
.addtofav:hover{
    color: var(--text2-color);
    background-color: var(--primary-color);
    border-color: var(--text2-color);
}


.movie-card .img{
    height: 310px;
    border-top-left-radius : 7px;
    border-top-right-radius: 7px;
}

.movie-card .info-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
}

.movie-card .info-2{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    gap: 15px;
    margin-top: -30px;
    margin-bottom: -30px;
}

.movie-card .info-3{
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: -8px;
    justify-content: center;
    margin-top: 8px;
}

.info-1 .title{
    font-family: var(--heading-font);
    font-size: 13px;
    letter-spacing: 0.4px;
    font-weight: 300;
}

.info-1 .average{
    display: flex;
    gap: 3px;
    color: var(--btn2-text);
}

.info-2 .date, .info-2 .duration{
    display: flex;
    gap: 3px;
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 11px;
}

.info-3 .genres{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: left;
    gap: 10px;
    align-items: center;
    font-family: var(--primary-font);
    font-weight: 550;
    font-size: 10px;
    padding-left: 15px;
    padding-right: 15px;

}


.genres .genre{
    padding: 5px 8px;
    border: 1px solid var(--text2-color);
    border-radius: 8px;
    background-color: var(--btn1-text);
    color: var(--btn2-text);
}

.light-theme .genres .genre{
    background-color: var(--btn2-text);
    color: var(--btn1-text);
}

.light-theme .pagination button{
    color: var(--primary-color);
}

.light-theme .average{
    color: var(--btn1-text);
}


@media (max-width: 992px){
    .movie-grid{
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .movie-card{
        width: 205px;
    }
    .movie-card .img{
        height: 280px;
    }
}

@media (max-width: 768px){
    .movie-grid{
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .movie-card{
        width: 205px;
    }
    .movie-card .img{
        height: 280px;
    }
}


@media (max-width: 640px){
    .movie-grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .movie-card{
        width: 250px;
    }
    .movie-card .img{
        height: 280px;
    }
}


@media (max-width: 440px){
    .movie-grid{
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .movie-card{
        width: 280px;
    }
    .movie-card .img{
        height: 280px;
    }
}
